<form (ngSubmit)="onSubmit()">
    <div>
        <label for="title">Title : </label>
        <input type="text" name="title" [(ngModel)]="movie.title">
    </div>
    <div>
        <label for="resume">Resume : </label>
        <textarea name="resume" [(ngModel)]="movie.resume"></textarea>
    </div>
    <div>
        <label for="released">Released : </label>
        <input type="datetime-local" name="released" [(ngModel)]="movie.released">
    </div>
    <div>
        <label for="duration">Duration : </label>
        <input type="number" name="duration" [(ngModel)]="movie.duration">
    </div>
    <button>Publish</button>
</form>
